@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
         url('vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    padding: 0
    font-family: 'Unica One', cursive;
    color: rgb(178,201,211);
    background-color: rgb(13,7,25);
}

canvas {
  margin: 0
  padding: 0
}

html, body {
    height: 100%;
}

footer {
    font-family: 'Kanit', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
}

.vid{
    margin: 0 auto;
    /*filter: blur(15px);
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.vid > video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.bars > h1 {
    text-align: center;
    font-size: 6vw;
    display: block;
    transform-origin: center;
    transition: all 1.5s;
}

h1#intro.up {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

h1#intro.center {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

h1#intro.down {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

h1#intro2.up {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

h1#intro2.center {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

h1#intro2.down {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}

h1#time.up {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

h1#time.center {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

h1#time.down {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}

#time {
  display: none;
  margin-top: -15px;
}


.up {
    opacity: 0;
}

.center {
    opacity: 1;
}

.down {
    opacity: 0;
}

.bars {
  position: absolute;
  display: table;
  right: 0;
  top: 50%;
  width: 100%;
  height: 46%;
  margin-left: -25%;
  margin-top: -15%;
  text-align: center;
}

.bar {
    float: right;
    transform-origin: top;
    background-color: #fdfdfd;
    max-width: 2px;
    min-width: 2px;
    width: auto;
    height: 15px;
    position: absolute;
    top: 0px;
}

.no-interact {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#myCanvas {
  width: 100%;
  height: 100%;
  display: none;
}

#author {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 15px;
    right: 40px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/author.jpg);
}

#github {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 15px;
    right: 40px;
}

#warning-message {
  display: none;
  position: absolute;
  display: table;
  right: 0;
  top: 50%;
  width: 100%;
  height: 46%;
  margin-left: -25%;
  margin-top: -15%;
  text-align: center;
 }
@media only screen and (orientation:portrait){
  #wrapper { display:none; }
  #warning-message { display:block; }
}
@media only screen and (orientation:landscape){
  #warning-message { display:none; }
}
